/******************** css vars
*/

:root {
    /* use like so: var(--color-name); */
    --background-color: #777;
    --border-size: 2px;
    --border-color: #eeb;
    --font-size: 1vw;
    --gap-size: 1vw;
    --arpeggiator-section-border-color: #ebe;
    --delay-section-border-color: #bbe;
    --bpm-section-border-color: var(--arpeggiator-section-border-color);
    --logging-section-border-color: #ebb;
    --keyboard-layout-select-section-border-color: #beb;
    --input-device-select-section-border-color: #bee;
    --output-device-select-section-border-color: #bee;
    --channel-select-section-border-color: #eeb;
    --octave-section-border-color: #beb;
    --program-change-section-border-color: #eeb;
    --latch-section-border-color: #eee;
    --hover-color: #ebebeb;
    --selected-border: var(--border-size) black solid;
    --selected-background-color: #bbb;
}

/******************** global settings
*/

* {
    /* include padding/border in a content box width/height */
    box-sizing: border-box;
    /* turn off margins */
    margin: 0;
    /* cuz we edgy */
    font-family: 'Roboto Mono', monospace;
    font-size: var(--font-size);
    /* selecting text prohibited */
    user-select: none;
    outline: none;
    overflow: hidden;
}

/******************** grid
*/

#gridWrapper {
    /* turn on grid display */
    display: grid;
    /* see this for discussion of the fr unit */
    /* https://css-tricks.com/introduction-fr-css-unit/ */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    padding: var(--gap-size);
    grid-gap: var(--gap-size);
}

.gridItem {
    border: var(--border-size) solid var(--border-color);
    padding: var(--gap-size);
    /* text-align: center; */
}

/******************** elements
*/

select {
    background-color: inherit;
    color: inherit;
    width: 100%;
}

select option {
    /* I don't know why, but a value of "inherit" doesn't correctly inherit color*/
    background-color: var(--background-color);
    text-align: center;
}

input {
    background-color: inherit;
    color: inherit;
    width: 100%;
}

input[type=number] {
    text-align: center;
}

label {
    display: block;
    text-align: right;
}

button {
    background-color: inherit;
    border: none;
    text-align: center;
}

button:hover {
    background-color: var(--hover-color);
}

/******************** grid items
*/

#bpmSection {
    grid-column: 4;
    grid-row: 2;
    border-color: var(--bpm-section-border-color);
}

#keyboardLayoutSelectSection {
    grid-column: 2;
    grid-row: 2;
    border-color: var(--keyboard-layout-select-section-border-color);
}

#loggingSection  {
    grid-column: 3;
    grid-row: 2 / span 5;
    border-color: var(--logging-section-border-color);
}
#log {
    text-align: center;
}

#outputDeviceSelectSection {
    grid-column: 4 / span 2;
    grid-row: 5;
    border-color: var(--output-device-select-section-border-color);
}


#inputDeviceSelectSection {
    grid-column: 4 / span 2;
    grid-row: 6;
    border-color: var(--input-device-select-section-border-color);
}

#latchSection{
    grid-column: 2;
    grid-row: 6;
    border-color: var(--latch-section-border-color);
    height: 100%;
}
/* we need this container div so the subsumed button will expand height */
#latchSection div {
    height: 100%;
}
#latchSection div button {
    width: 100%;
    /* almost 100% minus the fieldset's legend's font size */
    height: calc(88% - var(--font-size));
}

#octaveSection {
    grid-column: 2;
    grid-row: 3;
    border-color: var(--octave-section-border-color);
}

#channelSection {
    grid-column: 2;
    grid-row: 5;
    border-color: var(--channel-select-section-border-color);
}

.arpeggiatorSection {
    border-color: var(--arpeggiator-section-border-color);
}

#arpeggiatorModeSection {
    grid-column: 5;
    grid-row: 2;
}

#arpeggiatorModeSectionGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#arpeggiatorModeSectionGrid > div:hover {
    background: var(--hover-color);
}

#arpeggiatorTimeDivisionSection {
    grid-column: 4;
    grid-row: 3;
}

#arpeggiatorTimeDivisionSectionGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#arpeggiatorTimeDivisionSectionGrid > div:hover {
    background: var(--hover-color);
}

#arpeggiatorGateSection {
    grid-column: 4;
    grid-row: 4;
}

.delaySection {
    border-color: var(--delay-section-border-color);
}

#delayTimeSection {
    grid-column: 5;
    grid-row: 3;
}

#delayRepeatSection{
    grid-column: 5;
    grid-row: 4;
}

#programChangeSection{
    grid-column: 2;
    grid-row: 4;
    border-color: var(--program-change-section-border-color);
}
